@use "base" as *;

/*===================================
 * 共通
===================================*/

.text-center {
  text-align: center;
}

.is-pc {
  display: none;
  @include mq(md) {
    display: block;
  }
}
.is-sp {
  display: block;
  @include mq(md) {
    display: none;
  }
}

.anchorarea {
  position: relative;
}

.lp_anchor {
  position: absolute;
  top: -101px;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1120px;
  @include mq(md) {
    width: 698px;
    margin: 0 auto;
  }
  @include mq(sm) {
    width: 80%;
    margin: 0 auto;
  }
}

.main_title {
  margin-top: 120px;
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: $main-color;
  @include mq(xs) {
    margin-top: 50px;
  }
}

.sub_title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: $main-color;
  @include mq(sm) {
    font-size: 20px;
  }
}

.p-sub__title {
  margin-top: 75px;
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: $main-color;
  @include mq(sm) {
    font-size: 20px;
  }
}

.border {
  width: 20px;
  height: 4px;
  background: #f8b862;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

.section {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: $main-color;
}

/*===================================
 * margin padding
===================================*/
.mt_0 {
  margin-top: 0px;
}
.mt_24 {
  margin-top: 24px;
}

/*===================================
 * btn_set
===================================*/

#btn_set {
  text-align: center;
  margin-top: 30px;
}

.button {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  height: 44px;
  border-radius: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: $sub-color;
  transition: all 0.2s;
  line-height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;

  padding: 0 30px;

  &:hover {
    background-color: $sub-color;
    color: $white-color;
    transition: all 0.2s;
    border-color: #072a40;
  }
}

.button-wrapper {
  text-align: center;
}

/*===================================
 * リンクボタン
===================================*/

.ma_out01 {
  & span {
    &::after {
      content: url("/assets/img/ico_newwindow_01.png");
      margin-left: 2px;
    }
  }
}

.ma_listMark01 {
  position: relative;
  display: block;
  padding-left: 15px;
  font-size: 13px;
  font-weight: bold;
  &::before {
    content: url("/assets/img/ico_arrow_right02.png");
    top: 0.9em;
    left: 0;
    margin-top: -0.5em;
    display: block;
    position: absolute;
    line-height: 1;
  }
}

/*===================================
 * sp-menu
===================================*/
.fixed {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
}

.sp-menu {
  position: fixed;
  top: 215vh;
  width: 100%;
  background: #fff;
  height: 120vh;
  transition: 0.2s all ease-in;
  z-index: 20;
  text-align: center;
  &__container {
    position: relative;
    height: 100vh;
  }

  &.is_open {
    position: fixed;
    top: 0;
    height: 1000vh;
    padding-top: 50px;
    background: #fff;
    z-index: 20;
  }
}

.sp-nav {
  &__logo {
    margin-bottom: 55px;
    &__link {
    }
  }

  &__list {
  }

  &__item {
    margin-bottom: 22px;
  }

  &__link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: $main-color;

    &:hover {
      color: $main-color;
    }
  }
}

.js-close {
  position: absolute;
  left: 20px;
  bottom: 200px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: $main-color;
}

.close__icon {
  & img {
    position: absolute;
    top: 13px;
    left: 13px;
  }
}

/*===================================
 * sp footer-box
===================================*/

.footer-box {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.footer__flex {
  display: flex;
  width: 100%;
  filter: drop-shadow(0px -4px 15px rgba(0, 0, 0, 0.08));

  @include mq(lg) {
    display: none;
  }
}

.menu-toggle {
  position: relative;
  height: 84px;
  width: 70px;
  background-color: white;
  display: table;

  & img {
    position: absolute;
    display: table-cell;
    width: 33px;
    height: 30.8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.page-bottom {
  width: 100%;
  height: 84px;
  background-color: $btn-color;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.16em;
  color: $white-color;
  line-height: 84px;

  & a {
    text-decoration: none;
  }

  &__link {
  }

  &__text {
    color: $white-color;
    font-size: 16px;
  }
}

/*===================================
 * top
===================================*/

.main {
  overflow: hidden;
}

#top {
  padding: 20px 0;

  @include mq(md) {
    position: fixed;
    background-color: $white-color;
    width: 100%;
    z-index: 999;
    top: 0;
  }

  & h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: $main-color;
  }
}

.container-header__nav {
  margin-left: 50px;
  @include mq(sm) {
    margin-left: 30px;
  }
  @include mq(md) {
    width: 1000px;
    margin-right: auto;
  }
}

/*===================================
 * slick-slider
===================================*/
.slick-slider {
  position: relative;
  @include mq(lg) {
    margin-top: 100px;
  }
  @include mq(sm) {
    // width: 90%;
  }
}

.slick-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mv_slideHight {
  height: 700px !important; /* 高さはお好みで設定してください */
  @include mq(sm) {
    height: 400px !important;
  }
}

.slick-slide {
  @include mq(lg) {
    margin: 20px;
  }
}

.slick-slide img {
  width: 100%;
}

.slick-dots {
  display: none !important;
}

.container-front2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  z-index: 10;

  @include mq(sm) {
    top: 45%;
  }
  @include mq(xs){
    transform: translate(-50%, -50%);
  }
}

.front-contents {
  margin-top: 30px;
}

.container-front2 {
  margin-left: 15px;
  margin-right: 15px;

  @include mq(lg) {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
  }
}

.front-text2 {
  background-color: #ffff;
  padding-left: 20px;
  padding-right: 20px;
  &__main2 {
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 158%;
    letter-spacing: 0.02em;
    color: $main-color;
    padding-top: 43px;

    @include mq(sm) {
      width: 285px;
    }

    @include mq(md) {
      width: 390px;
      font-size: 42px;
      padding-top: 90px;
    }
  }

  &__secondary2 {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 191%;
    letter-spacing: 0.03em;
    color: $main-color;
    padding-bottom: 40px;
  }
}

.highlight2 {
  background-color: $white-color;
  color: $main-color;
  line-height: 150%;
  display: inline-block;
  padding: 0 3px;
  margin: 0 5px 0 0;
}

.front-button2 {
  margin-left: auto;
  @include mq(lg) {
    display: block;
    width: 270px;
    height: 140px;
    background-color: $btn-color;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 157%;
    align-items: center;
    letter-spacing: 0.11em;
    color: $white-color;
  }

  &__link2 {
    &:hover {
      text-decoration: none;
    }
  }
}

.reservation-text2 {
  display: none;

  @include mq(lg) {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 157%;
    width: 174px;
    word-wrap: break-word;
    align-items: center;
    letter-spacing: 0.11em;
    color: $white-color;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

    &::after {
      content: "";
      display: inline-block;
      background-image: url("/assets/img/arrow.svg");
      background-size: contain;
      width: 18px;
      height: 18px;
      margin-left: 10px;
    }
  }
}

/*===================================
 * header
===================================*/

// #top {
//   height: 100px;
// }

.header {
  margin-top: 96px;
  background-image: url("/assets/img/mach_mv.png");
  background-size: cover;
  @include mq(md) {
    background-image: url("/assets/img/mach_mv.png");
    background-size: cover;
    height: 396px;
  }
  @include mq(sm) {
    margin-top: 0;
  }
}

.header__flex {
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-logo {
  &__link {
  }
}

.top-logo__box {
  padding-top: 24px;
}

.header__address {
  @include mq(sm) {
    text-align: start;
  }
}

.header-navigation {
}

.header-nav {
  &__list {
    display: none;
    @include mq(lg) {
      display: flex;
    }
  }

  &__item {
    @include mq(md) {
      margin-left: 25px;

      & a {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.06em;
        color: $main-color;
      }
    }
  }

  &__link {
  }
}

.container-front {
  margin-left: 15px;
  margin-right: 15px;

  @include mq(sm) {
    margin-left: 34px;
    margin-right: 35px;
  }

  @include mq(lg) {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
  }
}

.front-text {
  &__main {
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 158%;
    letter-spacing: 0.02em;
    color: $white-color;
    padding-top: 43px;

    @include mq(sm) {
      width: 285px;
    }

    @include mq(md) {
      width: 390px;
      font-size: 42px;
      padding-top: 90px;
    }
  }

  &__secondary {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 191%;
    letter-spacing: 0.03em;
    color: $white-color;
    padding-bottom: 40px;
  }
}

.highlight {
  background-color: $white-color;
  color: $main-color;
  line-height: 150%;
  display: inline-block;
  padding: 0 3px;
  margin: 0 5px 0 0;
}

.front-button {
  @include mq(lg) {
    display: block;
    width: 270px;
    height: 140px;
    background-color: $btn-color;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 157%;
    align-items: center;
    letter-spacing: 0.11em;
    color: $white-color;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }
}

.reservation-text {
  display: none;

  @include mq(lg) {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 157%;
    width: 174px;
    word-wrap: break-word;
    align-items: center;
    letter-spacing: 0.11em;
    color: $white-color;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

    &::after {
      content: "";
      display: inline-block;
      background-image: url("https://placehold.jp/8/cc9999/993333/10x10.png");
      background-size: contain;
      width: 18px;
      height: 18px;
      margin-left: 10px;
    }
  }
}

/*===================================
 * covid19
===================================*/

.covid19-attention {
  font-weight: bold;
  border: 5px $main-color solid;
  padding: 20px 40px;
  padding: 20px 40px;
  margin: 40px 0;
  height: auto;
}

.attention-title {
  text-align: center;
  font-size: 26px;
  line-height: 1.7;
  word-wrap: break-word;
  font-weight: bold;
}

.attention-text {
  text-align: center;
  font-size: 16px;
  margin-top: 24px;
  line-height: 1.7;
  word-wrap: break-word;
}

.covid19-reservation-link {
  text-decoration: underline;

  &:hover {
    opacity: 0.5;
  }
}

#reservation {
}

.reservation-box {
  width: 100%;
}

.background-image {
  width: 100%;
  width: 660px;
  height: 95px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @include mq(sm) {
    margin-left: auto;
    margin-right: auto;
    width: 59vw;
  }

  @include mq(xs) {
    width: 85vw;
  }

  & img {
    width: 100%;
  }
}

.background-image-cell {
}

.status {
  & img {
    position: absolute;
    top: 55px;
    left: 30px;
    width: 107px;
    height: 98px;
    @include mq(sm) {
      top: 50%;
      left: 10%;
      transform: translate(-40%, -50%);
      width: 10.84vw;
    }
    @include mq(xs) {
      width: 15.84vw;
    }
  }

  &:nth-child(2) img {
    left: 190px;
    @include mq(sm) {
      left: 35%;
    }
  }
  &:nth-child(3) img {
    left: 363px;
    @include mq(sm) {
      left: 61%;
    }
  }
  &:nth-child(4) img {
    left: 525px;
    @include mq(sm) {
      left: 85%;
    }
  }
}

/*===================================
 * medical
===================================*/

#medical {
  & .main_title {
    padding-top: 85px;
    @include mq(sm) {
      padding-top: 0;
    }
  }
  & .container {
    @include mq(sm) {
      width: 100%;
    }
  }
}

.medical-content {
  &__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 210px;
    height: 210px;
    margin: 17px;
    background: $main-color;
    border-radius: 20px;
    margin: 6px;

    &:hover {
      opacity: 0.9;
      transition: all 0.2s;
    }

    & a {
      position: absolute;
      width: 100%;
      height: 138px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    @include mq(sm) {
      width: 158px;
      height: 158px;
    }
  }
}

.item-content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  &__img {
    width: 72px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white-color;
    margin-top: 16px;
    height: 32px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

/*===================================
 * value
===================================*/

#value {
}

.value-container {
  width: 100%;
  margin: 0 auto;
  @include mq(md) {
    width: 698px;
  }
}

.value-item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  &__img {
    & img {
      margin-right: 41px;
    }
  }

  &__text {
    width: 100%;
    word-wrap: break-word;
  }
}

/*===================================
 * features
===================================*/
.feature-slide{
  margin: 0 10px;
}
#features {
  // .section{
  //   margin: 0 calc(50% - 50vw); //inner要素か抜ける
	//   width: 100vw;
  // }
}

.slide-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-area {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.full-screen {
  // width: 100%;
  width: 620px;
  position: relative;
  overflow: hidden;

  & .slick-list {
    overflow: visible;
    width: 650px;
    @include mq(sm){
      width: 290px;
    }
  }
}

.slider {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.slide-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $main-color;
  // position: absolute;
  bottom: 40px;
  left: 20px;
}

.slide-description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: $main-color;
  margin-top: 7px;
  // position: absolute;
  bottom: 20px;
  left: 20px;
}

/*===================================
 * medical
===================================*/

.medical-steps {
  @include mq(md) {
    display: flex;
    justify-content: center;
  }
}

.medical-step {
  display: flex;
  justify-content: start;
  margin-bottom: 43px;
  &:not(:last-child) {
    margin-right: 20px;
  }

  @include mq(md) {
    display: block;
    justify-content: center;
    width: 215px;
    text-align: center;
    margin: 9px;
    object-fit: cover;
  }
}

.step-number {
  &__pc {
    display: none;
    @include mq(sm) {
      &-box .img {
        margin-right: 17px;
        object-fit: cover;
        border-radius: 2vh;
      }
    }

    @include mq(md) {
      display: block;
      background: $main-color;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      line-height: 26px;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      color: $white-color;
      flex: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 9px;
    }

    @include mq(lg) {
      &-box .img {
        height: 173px;
        width: 215px;
      }
    }
  }

  &__sp {
    background: $main-color;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: $white-color;
    margin-right: 12px;
    flex: none;
    margin-top: 1px;

    @include mq(md) {
      display: none;
    }
  }
}

.step-content {
  margin-left: 17px;
  @include mq(md) {
    margin-left: 0;
  }
}

.step-title {
  @include mq(sm) {
    display: flex;
  }
}

.step-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: $main-color;

  @include mq(md) {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.05em;
  }
}

.step-desc {
  text-align: left;
}

/*===================================
 * business_hours
===================================*/

#business_hours {
}

.schedule {
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: $main-color;
  margin-bottom: 13px;
  text-align: center;

  @include mq(sm) {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(md) {
    width: 655px;
    margin-left: auto;
    margin-right: auto;
  }
}

.schedule-row {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: $main-color;
  margin-bottom: 13px;
  text-align: center;
  align-items: center;

  & h5 {
    letter-spacing: 0.06em;
  }

  & h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: $main-color;
  }
}

.schedule-day {
  font-size: 22px;
  font-weight: bold;
  margin-right: 18px;
  display: inline-block;
  margin-top: 9px;

  @include mq(sm) {
    font-size: 15px;
    margin-right: 0;
    margin-top: 0;
  }

  @include mq(md) {
    margin-right: 0px;
    margin-left: 20px;
    letter-spacing: 0.4rem;
    margin-top: 13.5px;
  }
}

.schedule-time {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  margin-left: 25px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: $main-color;

  &__holiday {
    font-size: 22px;
    margin-top: 15px;
    margin-left: 15px;
    @include mq(sm) {
      font-size: 15px;
      margin-left: 0;
    }
  }

  @include mq(sm) {
    font-size: 28px;
  }
}

.schedule-label {
  padding-top: 5px;
  padding-bottom: 5px;
  background: $white-color;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  padding-left: 23px;
  padding-right: 23px;

  margin-left: 10px;

  @include mq(sm) {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 12px;
  }
}

.features-list {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;

  @include mq(md) {
    width: 655px;
    margin: 45px auto;
  }
}

.feature-item {
  vertical-align: middle;
}

.feature-icon {
  text-align: center;
  @include mq(md) {
    width: 170px;
    // height: 170px;
  }
}

.feature-text {
  & h5 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: $main-color;
    margin-top: 12px;

    @include mq(md) {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: 0.06em;
      margin-top: 14px;
    }
  }
}

/*===================================
 * question
===================================*/

#question {
}

#accordion {
}

.accordion-container {
  position: relative;
  width: 100%;
  border-top: none;
  outline: 0;
  cursor: pointer;

  margin: 0 auto;
}

.js-accordion-title {
}

.question-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.625em 0.625em 0.625em 0em;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $main-color;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  line-height: 130%;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    width: 15px;
    height: 2px;
    /*縦線に*/
    transform: rotate(90deg);
    background: $main-color;
    transition: all 0.3s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    /*横線*/
    width: 15px;
    height: 2px;
    background: $main-color;
    transition: all 0.2s ease-in-out;
  }

  &.open {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.question-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $main-color;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $white-color;
  display: inline-block;
  margin-right: 17px;
  flex: none;
}

.question-title {
  margin-top: 3px;
  line-height: 160%;
}

.answer-content {
}

.answer-box {
  display: flex;
  margin-bottom: 37px;

  @include mq(md) {
    width: 655px;
    margin: 0 auto;
  }
}

.answer-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $sub-color;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $white-color;
  display: inline-block;
  margin-right: 17px;
  flex: none;
}

.answer-text {
  width: 80%;
}

.a_tex {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: $main-color;
}

/*===================================
 * notice
===================================*/

#notice {
}

.notice-title {
  margin-top: 40px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: $main-color;
}

.notice-list {
  @include mq(lg) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  @include mq(sm) {
    display: block;
  }
}

.notice-item {
  width: calc(50% - 15px);

  & a {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    &:hover {
      text-decoration: underline;
      color: $main-color;
      opacity: 0.9;
    }
  }

  & h3 {
    margin-left: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: $main-color;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: start;
  }

  @include mq(sm) {
    width: 100%;
  }
}

.notice-date {
  width: 54px;
  height: 54px;
  background-color: $light-color;
  border-radius: 5px;
  position: relative;
  flex: none;
  z-index: -1;
}

.date-text {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: x-small;
  letter-spacing: 0.06em;
  color: $white-color;
  word-break: normal;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 1.3;
  margin-top: 3px;
  word-wrap: break-word;
}

/*===================================
 * articles
===================================*/

#articles {
}

.articles-grid {
  @include mq(lg) {
    display: flex;
    flex-wrap: wrap;
    width: 698px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  @include mq(sm) {
    display: block;
    width: 100%;
  }
}

.article-item {
  margin-bottom: 30px;
  width: calc(50% - 15px);
  & a {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $main-color;
  }

  @include mq(sm) {
    width: 100%;
  }
}

.article-image {
  & img {
    width: 106px;
    height: 85px;
    object-fit: cover;
    border-radius: 7px;
  }
}

.article-details {
  margin-left: 16px;

  & h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #999999;
    margin-bottom: 5px;
  }

  & h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: $main-color;
    line-height: 160%;
    display: -webkit-box;
    overflow: hidden;
  }
}

.category {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: $main-color;
  margin-left: 10px;
}

/*===================================
 * move_section
===================================*/

#move_section {
}

.video-section {
  margin-top: 41px;
  position: relative;
  padding-bottom: 20vh;
  overflow: hidden;

  & iframe {
    position: absolute;
    top: -0.5%;
    right: -0.4%;
    width: 101%;
    height: 101%;
  }

  @include mq(xs) {
    padding-bottom: 10vh;
  }
}

.move-container {
  text-align: center;
}

/*===================================
 * footer
===================================*/

.footer {
  background-color: $main-color;
  margin-top: 120px;
}

.footer-content {
  & h6 {
    font-style: normal;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 15px;
    line-height: 180%;
    letter-spacing: 0.06em;
    color: $white-color;
  }

  & p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 180%;
    letter-spacing: 0.06em;
    color: $white-color;
  }
}

.footer-logo {
  display: flex;
  padding-top: 56px;
  margin-bottom: 8px;
}

.footer-department {
}

.footer-info {
  display: flex;
  @include mq(sm) {
    display: block;
  }
}

.footer-address {
  width: 350px;
  @include mq(xs) {
    width: 100%;
  }
}

.footer-map-link {
  width: 148px;
  height: 37px;
  text-align: center;
  background-color: $white-color;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 37px;
  letter-spacing: 0.06em;
  margin-top: 18px;
  margin-bottom: 56px;
  border-radius: 2px;
}

.footer-schedule {
  & p {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: $white-color;
    margin-top: 30px;
  }
  &__table {
    width: 345px;
    color: $white-color;
    & th {
      padding-bottom: 10px;
      padding-right: 10px;
      text-align: center;
    }
    @include mq(xs) {
      width: 100%;
    }
  }

  &__day {
    text-align: left;
    font-size: 18px;
  }

  &__time {
    text-align: left;
    font-size: 15px;
  }

  &__closed {
    font-size: 15px;
  }
}

.footer-closed-day {
}

.footer-break {
  margin-left: 42px;
}

.footer-remarks {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: $white-color;
  margin-top: 33px;
}

.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.15em;
  color: $light-color;
  margin-top: 20px;
  padding-bottom: 120px;
}
