@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*===================================
 * colors
===================================*/
/*===================================
 * color
===================================*/
.mh_tRed01 {
  color: #e70012;
}

/*===================================
 * 画像
===================================*/
img {
  width: 100%;
  height: auto;
}

.imgbg img {
  vertical-align: middle;
}

/*===================================
 * リンク
===================================*/
a {
  display: inline-block;
}

/*===================================
 * font
===================================*/
h6 {
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: rgba(153, 153, 153, 0.6);
  margin-bottom: 5px;
}

/*===================================
 * 文字
===================================*/
p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021f59;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*===================================
 * smGird
===================================*/
.smGrid {
  font-size: 12px;
}

/*===================================
 * ページネーション
===================================*/
.p-pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

.page-numbers {
  display: flex;
  margin-top: 12px;
}

.page-numbers li {
  display: block;
}

.page-numbers span {
  background: #005c42;
  color: #fff;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: bold;
  box-sizing: content-box;
  line-height: 17px;
}

.pagination {
  margin-top: 12px;
  text-align: center;
}

.pagination a {
  transition: all 0.3s ease 0s;
}

.pagination a:hover {
  opacity: 0.6;
}

.pagination a.next,
.pagination a.prev {
  font-size: 30px;
}

.pagination a.next:hover,
.pagination a.prev:hover {
  opacity: 0.6;
}

.page-numbers {
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #808080;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  height: 40px;
  line-height: 38px;
  margin-right: 14px;
  min-width: 40px;
  text-align: center;
  text-decoration: none;
}

.page-numbers:last-child {
  margin-right: 0;
}

.page-numbers.current {
  background: #d81f32;
  border: 1px solid #d81f32;
  color: #fff;
  font-weight: 700;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
  border: none;
  line-height: 40px;
  min-width: initial;
  width: auto;
}

.sub-text-center {
  text-align: center;
}

/*===================================
 * layout 外枠
===================================*/
.layout {
  margin-top: 6.25rem;
}

/*===================================
 * 公開まで非表示
===================================*/
.blog-header {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .blog-header {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.blog_hed {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-size: cover;
  border-radius: 20px;
  height: 270px;
}
@media screen and (min-width: 768px) {
  .blog_hed {
    height: 464px;
  }
}
@media screen and (max-width: 767px) {
  .blog_hed {
    margin-top: 20px;
    display: block;
  }
}
.blog_hed__text {
  margin-left: 19px;
  margin-right: 19px;
  font-style: normal;
  font-weight: bold;
  color: #ebf0f2;
}
@media screen and (min-width: 1024px) {
  .blog_hed__text {
    width: 650px;
  }
}
@media screen and (min-width: 768px) {
  .blog_hed__text {
    width: 70%;
  }
}
.blog_hed__title {
  font-size: 40px;
  letter-spacing: 0.06em;
  padding-top: 240px;
  text-align: start;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .blog_hed__title {
    padding-left: 0;
    padding-top: 70px;
    font-size: 21px;
  }
}
.blog_hed .btn2 {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  width: 30%;
  height: 44px;
  border-radius: 60px;
  line-height: 45px;
  margin-left: auto;
  margin-right: auto;
  background: #021f59;
  color: white;
  margin-top: 300px;
}
@media screen and (min-width: 768px) {
  .blog_hed .btn2 {
    width: 20%;
  }
}
@media screen and (max-width: 767px) {
  .blog_hed .btn2 {
    margin-top: 13px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 599px) {
  .blog_hed .btn2 {
    width: 80%;
  }
}
.blog_hed .btn2 .arrow img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
}

.container-blog {
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  .container-blog {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.blog-contents {
  display: flex;
}
@media screen and (max-width: 767px) {
  .blog-contents {
    width: 100%;
    display: block;
  }
}

.blog-content {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .blog-content {
    width: 100%;
  }
}

.blog-title {
  text-align: start;
  margin-bottom: 50px;
  font-size: 24px;
  color: #021f59;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.06rem;
  margin-top: 70px;
}
.blog-title__top {
  margin-top: 84px;
}

.blog-item:not(:last-child) {
  margin-bottom: 30px;
}
.blog-item a {
  display: flex;
}
.blog-item__image img {
  width: 235px;
  height: 151px;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .blog-item__image img {
    width: 106px;
    height: 85px;
    border-radius: 7px;
  }
}
.blog-item__info {
  width: 100%;
  margin-left: 16px;
}
.blog-item__info h6 {
  font-size: 15px;
}
.blog-item__info h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 160%;
  letter-spacing: 0.06rem;
  color: #021f59;
}
@media screen and (max-width: 767px) {
  .blog-item__info h4 {
    font-size: 18px;
  }
}
.blog-articles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .blog-articles {
    display: block;
  }
}
.blog-articles__box {
  width: calc(50% - 15px);
}
@media screen and (max-width: 767px) {
  .blog-articles__box {
    width: 100%;
  }
}
.blog-articles__box:not(:last-child) {
  margin-bottom: 30px;
}
.blog-articles__box a {
  display: flex;
}
.blog-articles__image img {
  width: 106px;
  height: 68px;
  object-fit: cover;
  border-radius: 7px;
}
.blog-articles__info {
  margin-left: 16px;
}
.blog-articles__info h6 {
  font-size: 15px;
}
.blog-articles__info h4 {
  font-size: 18px;
  font-weight: bold;
  color: #021f59;
}

.sidebar-main {
  margin-left: 105px;
  margin-bottom: 0;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .sidebar-main {
    margin-left: 0;
    width: 100%;
  }
}

.category_tag {
  background: #f5f5f5;
  border-radius: 30px;
  margin-bottom: 10px;
}
.category_tag:not(:last-child) {
  margin-right: 10px;
}
.category_tag a {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  letter-spacing: 0.06em;
  color: #021f59;
  display: block;
}

.sidebar-box {
  display: flex;
  flex-wrap: wrap;
}

/*===================================
 * blog
===================================*/
.blogTop-img {
  margin-top: 100px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .blogTop-img {
    margin-top: 50px;
  }
}
.blogTop-img img {
  object-fit: cover;
}

.s-blog__date {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #999999;
  margin-bottom: 25px;
}
.s-blog__category {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021f59;
}
.s-blog__title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: #021f59;
}
.s-blog__content {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021f59;
}
.s-blog__content ol {
  list-style-type: decimal;
  counter-reset: li;
}
.s-blog__content ol > li:not(:last-child) {
  margin-bottom: 35px;
}
.s-blog__content ol > li {
  position: relative;
  padding-left: 36px;
  list-style: none;
  line-height: 1.6;
  margin-bottom: 20px;
}
.s-blog__content ol > li::before {
  position: absolute;
  top: 4px;
  left: 0;
  padding: 0px 6px;
  margin-left: 5px;
  border-radius: 100%;
  font-weight: bold;
  color: #ffffff;
  background: #021f59;
  line-height: 1.4;
  counter-increment: li;
  content: counter(li);
}
.s-blog__content h2 {
  margin-top: 4rem;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-bottom: 0.125rem solid #73b2c8;
}
@media screen and (min-width: 768px) {
  .s-blog__content h2 {
    margin-top: 5rem;
    padding-bottom: 1.875rem;
    font-size: 1.75rem;
  }
}
.s-blog__content h3 {
  margin-top: 4rem;
  padding: 1.25rem 0;
  font-size: 1.125rem;
  line-height: 1.5;
  border-top: 1px solid #73b2c8;
  border-bottom: 1px solid #73b2c8;
}
@media screen and (min-width: 768px) {
  .s-blog__content h3 {
    margin-top: 5rem;
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
}
.s-blog__content h4 {
  margin-top: 3rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f3f5f5;
}
@media screen and (min-width: 768px) {
  .s-blog__content h4 {
    margin-top: 4rem;
    font-size: 1.25rem;
  }
}
.s-blog__content h5 {
  margin-top: 2.5rem;
  padding: 0.25rem 0 0.25rem 1rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-left: 0.25rem solid #73b2c8;
}
@media screen and (min-width: 768px) {
  .s-blog__content h5 {
    margin-top: 3rem;
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 1.125rem;
  }
}
.s-blog__content h6 {
  margin-top: 2rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .s-blog__content h6 {
    margin-top: 2.375rem;
    font-size: 1rem;
  }
}
.s-blog__boxTitle {
  margin-top: 50px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: #021f59;
}
.blog-title {
  font-size: 30px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .blog-title {
    font-size: 22px;
  }
}

/*===================================
 * category
===================================*/
.archive-head {
  padding: 28px 0 0;
  margin-top: 120px;
}
@media screen and (max-width: 767px) {
  .archive-head {
    margin-top: 0;
  }
}

.archive-lead {
  color: #021f59;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}

.archive-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 18px;
}

.archive-title.m_category::before {
  color: #021f59;
  content: "\f02d";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 26px;
  font-weight: 900;
  margin-right: 8px;
}

.archive-title.m_search span {
  color: #021f59;
}

.archive-title.m_search::before {
  color: #021f59;
  content: "\f002";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 26px;
  font-weight: 900;
  margin-right: 8px;
}

.archive-description {
  font-size: 14px;
  line-height: 1.4;
}

/*===================================
 * tag
===================================*/
.entry-tag-items {
  padding-top: 24px;
}

.entry-tag-items {
  border-top: 1px solid #e2e2e2;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  margin-top: 20px;
}

.entry-tag-head {
  padding: 6px 15px 0;
}

.entry-tag-item a {
  padding: 4px 16px 3px;
}

.entry-tag-head {
  background: #808080;
  border-radius: 3px;
  color: #ebf0f2;
  font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 6px 15px 0;
}

.entry-tag-head::before {
  content: "\f02b";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  margin-right: 5px;
}

.entry-tag-item {
  margin-bottom: 10px;
  margin-right: 15px;
}

.entry-tag-item:last-child {
  margin-right: 0;
}

.entry-tag-item a {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  color: #808080;
  display: block;
  font-size: 14px;
  padding: 6px 18px 5px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.entry-tag-item a:hover {
  background: #808080;
  border-color: #808080;
  color: #ebf0f2;
}

/*===================================
 *
===================================*/
#toc_container {
  background: #fff;
  border: 2px solid #d81f32;
  margin-top: 64px;
  padding: 20px 30px;
}

#toc_container .toc_title {
  border-bottom: 2px solid #d81f32;
  font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 0;
  padding-bottom: 6px;
  text-align: center;
}

#toc_container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#toc_container ul a {
  color: #333;
  display: inline-block;
  font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}

#toc_container > ul > li {
  counter-increment: toc;
  margin-bottom: 20px;
  margin-top: 0;
}

#toc_container > ul > li:last-child {
  margin-bottom: 0;
}

#toc_container > ul > li > a {
  padding-left: 36px;
}

#toc_container > ul > li > a::before {
  background: #d81f32;
  border-radius: 50%;
  color: #fff;
  content: counter(toc);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  height: 26px;
  left: 0;
  line-height: 26px;
  margin-top: -2px;
  min-width: 26px;
  position: absolute;
  text-align: center;
  top: 0;
}

#toc_container > ul > li > ul {
  margin-top: 6px;
  padding-left: 36px;
}

#toc_container > ul > li > ul > li {
  margin-bottom: 2px;
  margin-top: 0;
}

#toc_container > ul > li > ul > li:last-child {
  margin-bottom: 0;
}

#toc_container > ul > li > ul > li > a {
  font-weight: 400;
  padding-left: 10px;
}

#toc_container > ul > li > ul > li > a::before {
  background: #d81f32;
  border-radius: 50%;
  content: "";
  height: 5px;
  left: 0;
  min-width: initial;
  position: absolute;
  top: 8px;
  width: 5px;
}

.entry-body h2 {
  background-color: rgba(2, 31, 89, 0.3);
  color: #021f59;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 24px;
  margin-top: 40px;
  padding: 4px 24px 4px 24px;
  text-align: center;
}

/*===================================
 * ボタン
===================================*/
.btnCenter {
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .btnCenter {
    margin-top: 30px;
  }
}

.btn {
  text-align: center;
  background-color: #01b3a7;
  background-image: none;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 17px 20px 14px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
}