@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

/*===================================
 * color
===================================*/
/*===================================
 * font
===================================*/
h6 {
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: rgba(153, 153, 153, 0.6);
  margin-bottom: 5px;
}

/*===================================
 * 文字
===================================*/
p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021F59;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*===================================
 * smGird
===================================*/
.smGrid {
  font-size: 12px;
}

.blog-header {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.blog_hed {
  margin-top: 114px;
  display: flex;
  align-items: center;
  background-image: url(/assets/img/blogs/blog_top.png);
  background-size: cover;
  border-radius: 20px;
}
.blog_hed__text {
  margin-left: 19px;
  margin-right: 19px;
  font-style: normal;
  font-weight: bold;
  color: #EBF0F2;
  width: 650px;
}
.blog_hed__title {
  font-size: 40px;
  letter-spacing: 0.06em;
  padding-top: 240px;
  text-align: start;
  padding-left: 20px;
}
.blog_hed .btn2 {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  width: 167px;
  height: 44px;
  border-radius: 60px;
  line-height: 45px;
  margin-left: auto;
  margin-right: auto;
  background: #021F59;
  color: white;
  margin-top: 300px;
}
.blog_hed .btn2 .arrow img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.container-blog {
  max-width: 1000px;
  margin: 0 auto;
}

.blog-contents {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.blog-content {
  width: 60%;
}

.blog-title {
  text-align: start;
  margin-bottom: 50px;
  font-size: 24px;
  color: #021F59;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.06rem;
  margin-top: 70px;
}
.blog-title__top {
  margin-top: 84px;
}

.blog-item:not(:last-child) {
  margin-bottom: 30px;
}
.blog-item a {
  display: flex;
}
.blog-item__image img {
  width: 235px;
  height: 151px;
  object-fit: cover;
  border-radius: 10px;
}
.blog-item__info {
  width: 100%;
  margin-left: 16px;
}
.blog-item__info h6 {
  font-size: 15px;
}
.blog-item__info h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 160%;
  letter-spacing: 0.06rem;
  color: #021F59;
}
.blog-articles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-articles__box {
  width: calc(50% - 15px);
}
.blog-articles__box:not(:last-child) {
  margin-bottom: 30px;
}
.blog-articles__box a {
  display: flex;
}
.blog-articles__image img {
  width: 106px;
  height: 68px;
  object-fit: cover;
  border-radius: 7px;
}
.blog-articles__info {
  margin-left: 16px;
}
.blog-articles__info h6 {
  font-size: 15px;
}
.blog-articles__info h4 {
  font-size: 18px;
  font-weight: bold;
  color: #021F59;
}

.sidebar-main {
  margin-left: 105px;
  margin-bottom: 0;
}

.category_tag {
  width: 100%;
  height: 62px;
  background: #F5F5F5;
  border-radius: 30px;
  margin-bottom: 10px;
}
.category_tag a {
  font-style: normal;
  font-weight: bold;
  line-height: 62px;
  font-size: 15px;
  padding-left: 21px;
  letter-spacing: 0.06em;
  color: #021F59;
  display: block;
}

.sidebar-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*===================================
 * blog
===================================*/
.blogTop-img {
  margin-top: 100px;
}
.blogTop-img img {
  width: 100%;
  object-fit: cover;
}

.s-blog__date {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #999999;
  margin-bottom: 25px;
}
.s-blog__category {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021F59;
}
.s-blog__title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: #021F59;
}
.s-blog__content {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021F59;
}
.s-blog__content ol {
  list-style-type: decimal;
  counter-reset: li;
}
.s-blog__content ol > li:not(:last-child) {
  margin-bottom: 35px;
}
.s-blog__content ol > li {
  position: relative;
  padding-left: 36px;
  list-style: none;
  line-height: 1.6;
  margin-bottom: 20px;
}
.s-blog__content ol > li::before {
  position: absolute;
  top: 4px;
  left: 0;
  padding: 0px 6px;
  margin-left: 5px;
  border-radius: 100%;
  font-weight: bold;
  color: #FFFFFF;
  background: #021F59;
  line-height: 1.4;
  counter-increment: li;
  content: counter(li);
}
.s-blog__boxTitle {
  margin-top: 50px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: #021F59;
}
.blog-title {
  font-size: 30px;
}

/*===================================
 * category
===================================*/
.archive-head {
  padding: 28px 0 0;
}

.archive-lead {
  color: #021F59;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}

.archive-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 18px;
}

.archive-title.m_category::before {
  color: #021F59;
  content: "\f02d";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 26px;
  font-weight: 900;
  margin-right: 8px;
}

.archive-title.m_search span {
  color: #021F59;
}

.archive-title.m_search::before {
  color: #021F59;
  content: "\f002";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 26px;
  font-weight: 900;
  margin-right: 8px;
}

.archive-description {
  font-size: 14px;
  line-height: 1.4;
}