@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

/*===================================
 * colors
===================================*/
/*===================================
 * color
===================================*/
.mh_tRed01 {
  color: #e70012;
}

/*===================================
 * 画像
===================================*/
img {
  width: 100%;
  height: auto;
}

.imgbg img {
  vertical-align: middle;
}

/*===================================
 * リンク
===================================*/
a {
  display: inline-block;
}

/*===================================
 * font
===================================*/
h6 {
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: rgba(153, 153, 153, 0.6);
  margin-bottom: 5px;
}

/*===================================
 * 文字
===================================*/
p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021f59;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*===================================
 * smGird
===================================*/
.smGrid {
  font-size: 12px;
}

/*===================================
 * ページネーション
===================================*/
.p-pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

.page-numbers {
  display: flex;
  margin-top: 12px;
}

.page-numbers li {
  display: block;
}

.page-numbers span {
  background: #005c42;
  color: #fff;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: bold;
  box-sizing: content-box;
  line-height: 17px;
}

.pagination {
  margin-top: 12px;
  text-align: center;
}

.pagination a {
  transition: all 0.3s ease 0s;
}

.pagination a:hover {
  opacity: 0.6;
}

.pagination a.next,
.pagination a.prev {
  font-size: 30px;
}

.pagination a.next:hover,
.pagination a.prev:hover {
  opacity: 0.6;
}

.page-numbers {
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #808080;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  height: 40px;
  line-height: 38px;
  margin-right: 14px;
  min-width: 40px;
  text-align: center;
  text-decoration: none;
}

.page-numbers:last-child {
  margin-right: 0;
}

.page-numbers.current {
  background: #d81f32;
  border: 1px solid #d81f32;
  color: #fff;
  font-weight: 700;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
  border: none;
  line-height: 40px;
  min-width: initial;
  width: auto;
}

.sub-text-center {
  text-align: center;
}

/*===================================
 * 公開まで非表示
===================================*/
/*===================================
 * 共通
===================================*/
.text-center {
  text-align: center;
}

.is-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .is-pc {
    display: block;
  }
}

.is-sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

.anchorarea {
  position: relative;
}

.lp_anchor {
  position: absolute;
  top: -101px;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1120px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 698px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

.main_title {
  margin-top: 120px;
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: #021f59;
}
@media screen and (max-width: 599px) {
  .main_title {
    margin-top: 50px;
  }
}

.sub_title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021f59;
}
@media screen and (max-width: 767px) {
  .sub_title {
    font-size: 20px;
  }
}

.p-sub__title {
  margin-top: 75px;
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021f59;
}
@media screen and (max-width: 767px) {
  .p-sub__title {
    font-size: 20px;
  }
}

.border {
  width: 20px;
  height: 4px;
  background: #f8b862;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.125rem;
}

.under_border {
  width: 100%;
  height: 2px;
  background: #021f59;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 767px) {
  .under_border {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
  }
}

.section {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #021f59;
}

/*===================================
 * margin padding
===================================*/
.mt_0 {
  margin-top: 0px;
}

.mt_24 {
  margin-top: 24px;
}

/*===================================
 * btn_set
===================================*/
#btn_set {
  text-align: center;
  margin-top: 30px;
}

.button {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  height: 44px;
  border-radius: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #072a40;
  transition: all 0.2s;
  line-height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  padding: 0 30px;
}
.button:hover {
  background-color: #072a40;
  color: #ebf0f2;
  transition: all 0.2s;
  border-color: #072a40;
}

.button-wrapper {
  text-align: center;
}

/*===================================
 * リンクボタン
===================================*/
.ma_out01 span::after {
  content: url("/assets/img/ico_newwindow_01.png");
  margin-left: 2px;
}

.ma_listMark01 {
  position: relative;
  display: block;
  padding-left: 15px;
  font-size: 13px;
  font-weight: bold;
}
.ma_listMark01::before {
  content: url("/assets/img/ico_arrow_right02.png");
  top: 0.9em;
  left: 0;
  margin-top: -0.5em;
  display: block;
  position: absolute;
  line-height: 1;
}

/*===================================
 * sp-menu
===================================*/
.fixed {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
}

.sp-menu {
  position: fixed;
  top: 215vh;
  width: 100%;
  height: 120vh;
  transition: 0.2s all ease-in;
  z-index: 20;
  text-align: center;
}
.sp-menu__container {
  position: relative;
  height: 100vh;
}
.sp-menu.is_open {
  position: fixed;
  top: 0;
  height: 1000vh;
  padding-top: 50px;
  background: #021f59;
  z-index: 1000;
}

.sp-nav__logo {
  margin-right: 3.125rem;
  margin-left: 3.125rem;
  margin-top: 1.875rem;
  margin-bottom: 3.4375rem;
}
.sp-nav__item {
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 1.25rem;
}
.sp-nav__item a {
  display: block;
  color: #ebf0f2;
}
.sp-nav__link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #021f59;
}
.sp-nav__link:hover {
  color: #021f59;
}

.js-close {
  position: absolute;
  left: 1.25rem;
  bottom: 12.5rem;
  width: 2.6875rem;
  height: 2.6875rem;
  border-radius: 50%;
  background-color: #021f59;
  cursor: pointer;
}

.close__icon img {
  position: absolute;
  top: 0.8125rem;
  left: 0.8125rem;
  width: 1.0625rem;
  height: 1.0625rem;
}

/*===================================
 * sp footer-box
===================================*/
.footer-box {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.footer__flex {
  display: flex;
  width: 100%;
  filter: drop-shadow(0px -4px 15px rgba(0, 0, 0, 0.08));
}
@media screen and (min-width: 1024px) {
  .footer__flex {
    display: none;
  }
}

.menu-toggle {
  position: relative;
  height: 5.3125rem;
  width: 4.375rem;
  background-color: white;
  display: table;
}
.menu-toggle img {
  position: absolute;
  display: table-cell;
  width: 2.0625rem;
  height: 2.0625rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.page-bottom {
  width: 100%;
  height: 84px;
  background-color: #011640;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #ebf0f2;
  line-height: 84px;
}
.page-bottom a {
  text-decoration: none;
}
.page-bottom__text {
  color: #ebf0f2;
  font-size: 16px;
}

/*===================================
 * top
===================================*/
.main {
  overflow: hidden;
}

.main_mv {
  position: relative;
}

#top {
  display: flex;
  height: clamp(80px, 10vw, 120px);
  position: sticky;
  background-color: #021f59;
  width: 100%;
  z-index: 999;
  left: 0;
  top: 0;
  transition: height 0.5s ease;
}
#top h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #ebf0f2;
  margin-top: 0.625rem;
  font-weight: bold;
}
#top.smaller {
  height: 60px;
}
#top.smaller .header-logo {
  margin-top: 0.625rem;
  width: 15.625rem;
}
#top.smaller h5 {
  margin-top: 0rem;
}

.container-header__nav {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: clamp(40px, 5vw, 60px);
  margin: auto;
}
@media screen and (max-width: 767px) {
  .container-header__nav {
    margin-left: 30px;
  }
}

/*===================================
 * slick-slider
===================================*/
.slick-slider {
  position: relative;
}
.slick-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mv_slideHight {
  height: 700px !important; /* 高さはお好みで設定してください */
}
@media screen and (max-width: 767px) {
  .mv_slideHight {
    height: 400px !important;
  }
}

@media screen and (min-width: 1024px) {
  .slick-slide {
    margin: 20px;
  }
}

.slick-slide img {
  width: 100%;
}

.slick-dots {
  display: none !important;
}

.container-front2 {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
@media screen and (max-width: 767px) {
  .container-front2 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container-front2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.front-text2 {
  text-shadow: 0 0 8px rgb(255, 255, 255);
}
.front-text2__main2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 158%;
  letter-spacing: 0.02em;
  color: #021f59;
}
@media screen and (max-width: 767px) {
  .front-text2__main2 {
    margin: 4em auto 4em;
    width: clamp(100vw - 60px, 90vw, 100vw - 24px);
  }
}
@media screen and (min-width: 768px) {
  .front-text2__main2 {
    font-size: 42px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
.front-text2__main2 .underR {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #d81f32 70%);
}
.front-text2__main2 .ctS {
  font-size: 3.75rem;
}
@media screen and (max-width: 767px) {
  .front-text2__main2 .ctS {
    font-size: 2.5rem;
  }
}
.front-text2__main2 .ct {
  font-size: 4.375rem;
}
@media screen and (max-width: 767px) {
  .front-text2__main2 .ct {
    font-size: clamp(2.1875rem, 2vw, 3.125rem);
  }
}
.front-text2__secondary2 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 191%;
  letter-spacing: 0.03em;
  color: #021f59;
  padding-bottom: 40px;
}

.highlight2 {
  background-color: #ebf0f2;
  color: #021f59;
  line-height: 150%;
  display: inline-block;
  padding: 0 3px;
  margin: 0 5px 0 0;
}

.front-button2 {
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .front-button2 {
    display: block;
    width: 270px;
    height: 140px;
    background-color: #011640;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 157%;
    align-items: center;
    letter-spacing: 0.11em;
    color: #ebf0f2;
  }
  .front-button2:hover {
    background-color: #ebf0f2;
    color: #021f59;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.16);
  }
}
.front-button2__link2:hover {
  text-decoration: none;
}

.reservation-text2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  .reservation-text2 {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 157%;
    width: 174px;
    word-wrap: break-word;
    align-items: center;
    letter-spacing: 0.11em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  .reservation-text2::after {
    content: "";
    display: inline-block;
    background-image: url("/assets/img/arrow.svg");
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}

/*===================================
 * header
===================================*/
.header {
  margin-top: 96px;
  background-image: url("/assets/img/mach_mv.png");
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url("/assets/img/mach_mv.png");
    background-size: cover;
    height: 396px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-logo {
  width: clamp(240px, 30vw, 500px);
  transition: width 0.5s ease;
}
.header-logo img {
  max-width: 100%;
  display: block;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__address {
    text-align: start;
  }
}

.header-nav__list {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header-nav__list {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__item {
    margin-left: 25px;
  }
  .header-nav__item a {
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ebf0f2;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    position: relative;
  }
  .header-nav__item a::after {
    content: "";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: -2px;
    left: 0;
    /*線の形状*/
    width: 100%;
    height: 2px;
    background: #ebf0f2;
    /*アニメーションの指定*/
    transition: all 0.3s;
    transform: scale(0, 1); /*X方向0、Y方向1*/
    transform-origin: left top; /*左上基点*/
  }
  .header-nav__item a:hover {
    color: #ebf0f2;
    opacity: 0.8;
  }
  .header-nav__item a:hover::after {
    transform: scale(1, 1); /*X方向にスケール拡大*/
  }
}
.container-front {
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .container-front {
    margin-left: 34px;
    margin-right: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .container-front {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
  }
}

.front-text__main {
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 158%;
  letter-spacing: 0.02em;
  color: #ebf0f2;
  padding-top: 43px;
}
@media screen and (max-width: 767px) {
  .front-text__main {
    width: 285px;
  }
}
@media screen and (min-width: 768px) {
  .front-text__main {
    width: 390px;
    font-size: 42px;
    padding-top: 90px;
  }
}
.front-text__secondary {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 191%;
  letter-spacing: 0.03em;
  color: #ebf0f2;
  padding-bottom: 40px;
}

.highlight {
  background-color: #ebf0f2;
  color: #021f59;
  line-height: 150%;
  display: inline-block;
  padding: 0 3px;
  margin: 0 5px 0 0;
}

@media screen and (min-width: 1024px) {
  .front-button {
    display: block;
    width: 270px;
    height: 140px;
    background-color: #011640;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 157%;
    align-items: center;
    letter-spacing: 0.11em;
    color: #ebf0f2;
  }
}
.front-button__link:hover {
  text-decoration: none;
}

.reservation-text {
  display: none;
}
@media screen and (min-width: 1024px) {
  .reservation-text {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 157%;
    width: 174px;
    word-wrap: break-word;
    align-items: center;
    letter-spacing: 0.11em;
    color: #ebf0f2;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  .reservation-text::after {
    content: "";
    display: inline-block;
    background-image: url("https://placehold.jp/8/cc9999/993333/10x10.png");
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}

/*===================================
 * covid19
===================================*/
.covid19-attention {
  font-weight: bold;
  border: 5px #021f59 solid;
  padding: 20px 40px;
  padding: 20px 40px;
  margin: 40px 0;
  height: auto;
}

.attention-title {
  text-align: center;
  font-size: 26px;
  line-height: 1.7;
  word-wrap: break-word;
  font-weight: bold;
}

.attention-text {
  text-align: center;
  font-size: 16px;
  margin-top: 24px;
  line-height: 1.7;
  word-wrap: break-word;
}

.covid19-reservation-link {
  text-decoration: underline;
}
.covid19-reservation-link:hover {
  opacity: 0.5;
}

.reservation-box {
  width: 100%;
}

.background-image {
  width: 100%;
  width: 660px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .background-image {
    margin-left: auto;
    margin-right: auto;
    width: 59vw;
  }
}
@media screen and (max-width: 599px) {
  .background-image {
    width: 80vw;
  }
}
.background-image img {
  width: 100%;
}

.background-image .status {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 107px;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .background-image .status {
    left: 4%;
    width: 10.84vw;
  }
}
@media screen and (max-width: 599px) {
  .background-image .status {
    width: 13.84vw;
  }
}
.background-image .status:nth-of-type(2) {
  left: 30%;
}
@media screen and (max-width: 767px) {
  .background-image .status:nth-of-type(2) {
    left: 29%;
  }
}
.background-image .status:nth-of-type(3) {
  left: 55%;
}
@media screen and (max-width: 767px) {
  .background-image .status:nth-of-type(3) {
    left: 54%;
  }
}
.background-image .status:nth-of-type(4) {
  left: 80%;
}
@media screen and (max-width: 767px) {
  .background-image .status:nth-of-type(4) {
    left: 79%;
  }
}

/*===================================
 * medical
===================================*/
#medical .main_title {
  padding-top: 85px;
}
@media screen and (max-width: 767px) {
  #medical .main_title {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  #medical .container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .medical-content__flex {
    padding: 0 1.875rem;
  }
}
.medical-content__item {
  position: relative;
  height: 210px;
  margin: 17px;
  background: #021f59;
  border-radius: 20px;
  margin: 6px;
}
@media screen and (min-width: 768px) {
  .medical-content__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 767px) {
  .medical-content__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.medical-content__item:hover {
  opacity: 0.9;
  transition: all 0.2s;
}
.medical-content__item a {
  position: absolute;
  width: 100%;
  height: 138px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .medical-content__item {
    height: 158px;
  }
}

.item-content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.item-content__img {
  width: 72px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
}
.item-content__text {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ebf0f2;
  margin-top: 16px;
  height: 32px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*===================================
 * value
===================================*/
.value-container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .value-container {
    width: 698px;
  }
}

.value-item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}
.value-item__img img {
  margin-right: 41px;
}
.value-item__text {
  width: 100%;
  word-wrap: break-word;
}

/*===================================
 * features
===================================*/
.feature-slide {
  margin: 0 10px;
}

.slide-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-area {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.full-screen {
  width: 620px;
  position: relative;
  overflow: hidden;
}
.full-screen .slick-list {
  overflow: visible;
  width: 650px;
}
@media screen and (max-width: 767px) {
  .full-screen .slick-list {
    width: 290px;
  }
}

.slider {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.slide-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #021f59;
  bottom: 40px;
  left: 20px;
}

.slide-description {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #021f59;
  margin-top: 7px;
  bottom: 20px;
  left: 20px;
  font-weight: 400;
}

/*===================================
 * medical
===================================*/
@media screen and (min-width: 768px) {
  .medical-steps {
    display: flex;
    justify-content: center;
  }
}

.medical-step {
  display: flex;
  justify-content: start;
  margin-bottom: 43px;
}
.medical-step:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .medical-step {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .medical-step {
    display: block;
    justify-content: center;
    width: 100%;
    text-align: center;
    object-fit: cover;
  }
  .medical-step:not(:last-child) {
    margin-right: 0rem;
  }
}

.step-number__pc {
  display: none;
}
@media screen and (max-width: 767px) {
  .step-number__pc-box .img {
    margin-right: 17px;
    object-fit: cover;
    border-radius: 2vh;
  }
}
@media screen and (min-width: 768px) {
  .step-number__pc {
    display: block;
    background: #021f59;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #ebf0f2;
    flex: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 1024px) {
  .step-number__pc-box .img {
    height: 173px;
    width: 215px;
  }
}
.step-number__sp {
  background: #021f59;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ebf0f2;
  margin-right: 12px;
  flex: none;
  margin-top: 1px;
}
@media screen and (min-width: 768px) {
  .step-number__sp {
    display: none;
  }
}

.step-content {
  margin-left: 1.25rem;
}
@media screen and (max-width: 767px) {
  .step-content {
    margin-left: 0;
  }
}

.step-title {
  display: flex;
  justify-content: center;
}

.step-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021f59;
}
@media screen and (min-width: 768px) {
  .step-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.05em;
  }
}

.step-desc {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .step-desc {
    text-align: center;
  }
}

/*===================================
 * business_hours
===================================*/
.schedule {
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #021f59;
  margin-bottom: 13px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .schedule {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .schedule {
    width: 655px;
    margin-left: auto;
    margin-right: auto;
  }
}

.schedule-row {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #021f59;
  margin-bottom: 13px;
  text-align: center;
  align-items: center;
}
.schedule-row h5 {
  letter-spacing: 0.06em;
}
.schedule-row h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #021f59;
}

.schedule-day {
  font-size: 22px;
  font-weight: bold;
  margin-right: 18px;
  display: inline-block;
  margin-top: 9px;
}
@media screen and (max-width: 767px) {
  .schedule-day {
    font-size: 15px;
    margin-right: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .schedule-day {
    margin-right: 0px;
    margin-left: 20px;
    letter-spacing: 0.4rem;
    margin-top: 13.5px;
  }
}

.schedule-time {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  margin-left: 25px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: #021f59;
}
.schedule-time__holiday {
  font-size: 22px;
  margin-top: 15px;
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .schedule-time__holiday {
    font-size: 15px;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .schedule-time {
    font-size: 28px;
  }
}

.schedule-label {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #ebf0f2;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  padding-left: 23px;
  padding-right: 23px;
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .schedule-label {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 12px;
  }
}

.features-list {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
@media screen and (min-width: 768px) {
  .features-list {
    width: 655px;
    margin: 45px auto;
  }
}

.feature-item {
  vertical-align: middle;
}

.feature-icon {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature-icon {
    width: 170px;
  }
}

.feature-text h5 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.06em;
  color: #021f59;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .feature-text h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.06em;
    margin-top: 14px;
  }
}

/*===================================
 * question
===================================*/
.accordion-container {
  position: relative;
  width: 100%;
  border-top: none;
  outline: 0;
  cursor: pointer;
  margin: 0 auto;
}

.question-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.625rem 1.25rem 0.625rem 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #021f59;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  line-height: 130%;
  align-items: center;
}
.question-item:hover {
  color: #021f59;
  text-decoration: underline;
}
.question-item::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  width: 15px;
  height: 2px;
  /*縦線に*/
  transform: rotate(90deg);
  background: #021f59;
  transition: all 0.3s ease-in-out;
}
.question-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  /*横線*/
  width: 15px;
  height: 2px;
  background: #021f59;
  transition: all 0.2s ease-in-out;
}
.question-item.open::before {
  transform: rotate(180deg);
}

.question-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #021f59;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ebf0f2;
  display: inline-block;
  margin-right: 17px;
  flex: none;
}

.question-title {
  margin-top: 3px;
  line-height: 160%;
  font-size: 1.375rem;
}
@media screen and (max-width: 767px) {
  .question-title {
    font-size: 1rem;
  }
}

.answer-box {
  display: flex;
  margin-bottom: 37px;
}
@media screen and (min-width: 768px) {
  .answer-box {
    width: 655px;
    margin: 0 auto;
  }
}

.answer-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ebf0f2;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #021f59;
  display: inline-block;
  margin-right: 17px;
  flex: none;
}

.answer-text {
  width: 80%;
}

.a_tex {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021f59;
}

/*===================================
 * notice
===================================*/
.notice-title {
  margin-top: 40px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: #021f59;
}

@media screen and (min-width: 1024px) {
  .notice-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .notice-list {
    display: block;
  }
}

.notice-item {
  width: calc(50% - 15px);
}
.notice-item a {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.notice-item a:hover {
  text-decoration: underline;
  color: #021f59;
  opacity: 0.9;
}
.notice-item h3 {
  margin-left: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #021f59;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .notice-item {
    width: 100%;
  }
}

.notice-date {
  width: 54px;
  height: 54px;
  background-color: #5f7092;
  border-radius: 5px;
  position: relative;
  flex: none;
  z-index: -1;
}

.date-text {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: x-small;
  letter-spacing: 0.06em;
  color: #ebf0f2;
  word-break: normal;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 1.3;
  margin-top: 3px;
  word-wrap: break-word;
}

/*===================================
 * articles
===================================*/
@media screen and (min-width: 1024px) {
  .articles-grid {
    display: flex;
    flex-wrap: wrap;
    width: 698px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .articles-grid {
    display: block;
    width: 100%;
  }
}

.article-item {
  margin-bottom: 30px;
  width: calc(50% - 15px);
}
.article-item a {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #021f59;
}
@media screen and (max-width: 767px) {
  .article-item {
    width: 100%;
  }
}

.article-image img {
  width: 106px;
  height: 85px;
  object-fit: cover;
  border-radius: 7px;
}

.article-details {
  margin-left: 16px;
}
.article-details h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #999999;
  margin-bottom: 5px;
}
.article-details h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #021f59;
  line-height: 160%;
  display: -webkit-box;
  overflow: hidden;
}

.category {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #021f59;
  margin-left: 10px;
}

/*===================================
 * move_section
===================================*/
.video-section {
  margin-top: 41px;
  position: relative;
  padding-bottom: 20vh;
  overflow: hidden;
}
.video-section iframe {
  position: absolute;
  top: -0.5%;
  right: -0.4%;
  width: 101%;
  height: 101%;
}
@media screen and (max-width: 599px) {
  .video-section {
    padding-bottom: 10vh;
  }
}

.move-container {
  text-align: center;
}

/*===================================
 * footer
===================================*/
.footer {
  background-color: #021f59;
}

.footer-content h6 {
  font-style: normal;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 15px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: #ebf0f2;
}
.footer-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: #ebf0f2;
}

.footer-logo {
  display: flex;
  padding-top: 56px;
  margin-bottom: 8px;
}

.footer-info {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-info {
    display: block;
  }
}

.footer-address {
  width: 350px;
}
@media screen and (max-width: 599px) {
  .footer-address {
    width: 100%;
  }
}

.footer-map-link {
  width: 148px;
  height: 37px;
  text-align: center;
  background-color: #ebf0f2;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 37px;
  letter-spacing: 0.06em;
  margin-top: 18px;
  margin-bottom: 56px;
  border-radius: 2px;
}

.footer-schedule p {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #ebf0f2;
  margin-top: 30px;
}
.footer-schedule__table {
  width: 345px;
  color: #ebf0f2;
}
.footer-schedule__table th {
  padding-bottom: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 599px) {
  .footer-schedule__table {
    width: 100%;
  }
}
.footer-schedule__day {
  text-align: left;
  font-size: 18px;
}
.footer-schedule__time {
  text-align: left;
  font-size: 15px;
}
.footer-schedule__closed {
  font-size: 15px;
}

.footer-break {
  margin-left: 42px;
}

.footer-remarks {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: #ebf0f2;
  margin-top: 33px;
}

.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.15em;
  color: #5f7092;
  margin-top: 20px;
  padding-bottom: 120px;
}

/*===================================
 * 特徴 修正
===================================*/
.features-list__item {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 767px) {
  .features-list__item {
    max-width: 18.75rem;
    gap: 1.25rem;
  }
}

.features-list__item-img {
  width: 100%;
}

.features-list__item-img img {
  width: 100%;
  aspect-ratio: 640/360;
  object-fit: cover;
}

.features-list__item-number {
  margin-top: -1.25rem;
  position: relative;
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0.08em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-list__item-number {
    font-size: 1.25rem;
  }
}

.features-list__item-number::before {
  content: "";
  margin-bottom: 0.9375rem;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 2.5rem;
  background: #333;
}
@media screen and (min-width: 768px) {
  .features-list__item-number::before {
    margin-bottom: 1.25rem;
  }
}

.features-list__item-number::after {
  counter-increment: number;
  content: counter(number);
}

.features-list__item-title {
  margin-top: 0.9375rem;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.08em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-list__item-title {
    margin-top: 1.25rem;
    font-size: 1.5625rem;
  }
}

.features-list__item-text {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .features-list__item-text {
    margin-top: 1.5625rem;
    font-size: 1rem;
  }
}